

<div class="main-data">
	<%= semantic_form_for @land , remote: true, html: {class: "base-form", target: "app_iframe", :onsubmit => "transferContentFromTinyEditor();"} do |f|%>
		<%= f.inputs do %>
			<%= f.input :title%>
			<%= f.input :avatar, as: :file%>
			<%= f.input :land_position_text, label: "Vị trí"%>
			<%= f.input :land_status, label: "Tiến độ"%>
			<%= f.input :price, label: "Giá"%>	
			<%= f.input :land_type, as: :radio, collection: [['Bán căn hộ','sale'], ['Cho thuê', 'rent']]%>
			<%= f.input :description, label: false%>
			<li class="map-google">
				<%= show_map_helper @land, {zoom: 10, latitude: 10.749026, longitude: 106.674575, allow: 'point', searchbox: 'show', width: 496, height: 250}%>
			</li>
		<% end%>
		<%= f.actions do %>
			<li class="submit">
				<label></label>
	      <input class="base-form-submit" type="submit" value="Save" name="commit">
			</li>
	  <% end %>	
	<% end %>
</div>
<script language='javascript'>
  $(document).ready(function(){
        window.newContentEditor = new TINY.editor.edit('editor', {
         id: 'land_description',
         width: 530,
         height: 175,
         cssclass: 'tinyeditor',
         controlclass: 'tinyeditor-control',
         rowclass: 'tinyeditor-header',
         dividerclass: 'tinyeditor-divider',
         controls: ['bold', 'italic', 'underline', 'strikethrough', '|', 'subscript', 'superscript', '|',
         'orderedlist', 'unorderedlist', '|', 'outdent', 'indent', '|', 'leftalign',
         'centeralign', 'rightalign', 'blockjustify', '|', 'unformat', '|', 'undo', 'redo', 'n',
            'size', 'style', '|', 'image', 'hr', 'link', 'unlink', '|', 'print'],
         footer: true,
         fonts: ['Verdana','Arial','Georgia','Trebuchet MS'],
         xhtml: true,
         cssfile: '/assets/tinyeditor.css',
         bodyid: 'editor',
         footerclass: 'tinyeditor-footer',
         toggle: {text: 'source', activetext: 'wysiwyg', cssclass: 'toggle'},
         resize: {cssclass: 'resize'}
       });
  });
</script>